.image-overlay {
	display: inline-block;
	position: relative;
}

.h-line {
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: red;
}

.v-line {
	position: absolute;
	width: 2px;
	height: 100%;
	background-color: red;
}

//STATES
.is-hidden {
	display: none;
}